.grid {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background-image: linear-gradient(180deg, #FFFFFF, transparent);
  backdrop-filter: blur(1.5px);
  width: 100%;
  font-size: 1.5rem;
  font-family: 'Indie Flower';
  z-index: 10002;
}

.mobile-nav-toggle {
  display: none;
}

.logo-mobile-nav {
  display: none;
}

.mobile-search-icon {
  display: none;
}




@media (max-width: 950px) {
  .list {
    position: fixed;
    inset: 0 0 0 30%;
    z-index: 1000;
    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;
    background: hsl(0 0% 100% / 0.9);
    margin: 0;
    font-size: 2rem;
    transform: translateX(100%);
  }

  .header {
    display: flex;
    align-items: center;
    position: relative;
  }

  .search-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1rem);
    z-index: 10001;
}

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    right: 2rem;
    top: 2rem;
    align-self: center;
    z-index: 10000;
    color: black;
    cursor: pointer;
    background: none;
    border: none;
  }

  .mobile-search-icon {
    display: block;
    position: absolute;
    left: 1rem;
    top: 2rem;
    align-self: center;
    z-index: 99999;
    color: black;
    cursor: pointer;
    background: none;
    border: none;
  }

  .open-nav {
    transform: translateX(0);
  }

  .logo-mobile-nav {
    display: block;
  }

  .search-closed {
    display: none;
  }

  .search-open {
    display: block;
    position: absolute;
    width: 80%;
    top: 2rem;
    justify-self: center;
    left: 15%;
    z-index: 9999;
  }

  .name {
    position: absolute;
    top: 2rem;
    margin: 0;
  }

  @supports (backdrop-filter: blur(3rem)) {
    .list {
      --gap: 2em;
      background: hsl(0 0% 100% / 0.1);
      backdrop-filter: blur(1rem);
    }
  }
}

.logo {
  grid-column: 2;
  place-self: center;
}

.list {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  transition: transform ease-out .3s;
}

li > :not(a.active) {
  text-decoration: none;
  color: black;
}


li > a.active {
  color: black;
}

.name {
  place-self: center;
  font-size: clamp(1.5rem, 2vw, 4rem)
}

