<app-video-hero [videoName]="'el-clavel'"></app-video-hero>
<div class="about">
  <h1>About Us</h1>
  <p class="text">Hey mate, hope you're alright. Nice to meet you here.<br>
  We're Geetika (from India / US) and Jonas (from Germany / England).<br>
  We met at a volunteering project in Colombia in April 2022. Great project btw. You can check it out here: INSERT LINK<br>
  Since then, we were travelling through Colombia together.<br>
  We decided to start this blog to document our travels and share our best stories and experiences with you.<br><br>

  So go ahead and check them out. We hope we can inspire you to have the time of your life.<br><br>

  All the best<br>
  </p>

  <div class="signature">Geetika & Jonas</div>

</div>
