<app-video-hero class="video" [videoName]="'el-clavel'"></app-video-hero>
<div class="article-meta-data">
  <div>Author: {{getArticle().author}}</div>
  <div>Published: {{getArticle().publishDate | date}}</div>
</div>

<div class="grid">
  <!-- <div>
    <ul class="article-navigation">
      <li><a href="#colombia">Colombia</a></li>
      <ul>
        <li><a>kjsa</a></li>
        <ul>
          <li><a>kjsa</a></li>
          <li><a>kjsa</a></li>
          <li><a>kjsa</a></li>
          <li><a>kjsa</a></li>
      </ul>
        <li><a>kjsa</a></li>
        <li><a>kjsa</a></li>
        <li><a>kjsa</a></li>
    </ul>
    </ul>
  </div> -->

  <div class="article" [routerLink]="['/articles']" innerHtml="{{getArticle().article}}"></div>

  <a *ngFor="let suggestion of getSuggestions()" [routerLink]="['/articles', suggestion.router]">
    <app-countries [countryName]="suggestion.name" [countryShort]="suggestion.short"></app-countries>
  </a>
</div>
