.video {
  position: static;
}

.article-meta-data {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-family: 'Indie Flower';
  margin-left: 1rem;
  margin-top: 1rem;
  gap: .5rem;
}

.article-navigation {
  border: 3px solid orange;
  border-radius: .3em;
  padding: 2rem 4rem;
  position: sticky;
  position: -webkit-sticky;
  top: 15%;
  color: black;
}

ul {
  list-style: none;
}

li > :not(a.active) {
  text-decoration: none;
  color: black;
}


li > a.active {
  color: black;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  margin-inline: 5rem;
  gap: 5rem;
}

.suggested-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.suggestion {
  grid-column: 2;
}

@media (max-width: 950px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(475px, 1fr));
  }
}
