.icon {
  position: absolute;
  left: .5rem;
  top: .9rem;
}

.container {
  position: relative;
}

.search-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: hsl(0 0% 100% / 0.7);
  backdrop-filter: blur(1rem);
  width: 27.5%;
  border-radius: .3em;
  padding: 2rem 1rem;
  position: absolute;
}

.match {
  list-style: none;
}

.result-element {
  display: flex;
  justify-content: flex-start;
  padding: 1rem 2rem;
  width: 93%;
  margin-left: -1rem;
  border-radius: .2em;
  transition: background .2s;
}

.result-element:hover {
  background: hsl(2 0% 100% / 0.7);
}

.match__segment {
  color: #555555;
  display: inline-block;
}

.match__segment--on {
  color: #000000 ;
	font-weight: 800 ;
}

.result-photo {
  position: relative;
  height: 5rem;
  width: 5rem;
  border-radius: .3em;
  background-size: 100% 100%;
}

.search-result-title {
  margin-top: 0;
  margin-bottom: 0;
}

.description {
  font-size: .7rem;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Roboto Slab', sans-serif;
}

.result-text {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  color: black;
}

a {
  text-decoration: none;
}

@media (max-width: 950px) {
  .search-results {
    width: 80%
  }
}
