<div>
  <div class="container">
    <fa-icon class="icon" size="sm" [icon]="faSearch"></fa-icon>
    <!-- <app-input [(ngModel)]="form.search" (ngModelChange)="applyFilter()" [type]="'text'" [name]="'search'" [placeholder]="'Search...'"></app-input> -->
    <input (click)="resultsOpen=true" [(ngModel)]="form.search" (ngModelChange)="applyFilter()" type="text" name="search" placeholder="Search...">
  </div>


  <ul *ngIf="matches.length" class="search-results">

    <li *ngFor="let match of matches" class="match">
      <a class="result-element" [routerLink]="['/articles', formatRouting(match.value.country), match.value.router]" (click)="searchClosed()">
        <div class="result-photo" [style.background-image]="'url(./assets/fotos/' + match.value.fotoFileName + '.jpg)'">
          <!-- <img  src="../../assets/fotos/{{match.value.id}}.jpg" alt="Flag CountryName" width="150rem" height="100rem"> -->
        </div>
        <div class="result-text">
          <!-- <p class="description">--><div class="description">{{getAboveCategoryValue(match.value)}} | {{match.value.category}}</div>
          <h2 class="search-result-title">
            {{match.value.name}}
            <!-- <span
              *ngFor="let segment of match.segments"
              class="match__segment match"
              [class.match__segment--on]="segment.isMatch">
              {{ segment.value }}
            </span> -->
          </h2>
        </div>
      </a>
    </li>
  </ul>

  <!-- <div class="search-results">
    <a>
      Country • Continent
      <img src="../../assets/flags/countryShort.png" alt="Flag CountryName" width="35px" height="25"> <h2>Title</h2>
    </a>
  </div>
</div> -->
